[mysql_multi]
user      = mysql

[mysqld2]
port		  = 3307
socket		= /tmp/mysql2.sock
datadir		= /usr/local/var/mysql2
server-id	= 2

#replication
log-bin

replicate-same-server-id = 0
auto-increment-increment = 2
auto-increment-offset = 2

[mysqld3]
port		= 3308
socket		= /tmp/mysql3.sock
datadir		= /usr/local/var/mysql3
server-id	= 3

#replication
log-bin

replicate-same-server-id = 0
auto-increment-increment = 2
auto-increment-offset = 2
